<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jianghe.androidrndemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <application
        android:name="com.mainandroid.mainview.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mainandroid.mainview.FirstActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mainandroid.mainview.RNActivity" />
        <activity
            android:name="com.jianghe.reactnative.HotUpdateActivity"
            android:theme="@style/MyDialogStyle"></activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        " />
    </application>

</manifest>
